doctype html
html

  head
    title= FoodPlan
  body
    h2 Adauga mancare
    form(method='post' action='/save')
      label Numele mancarii: <br>
      input(name='plateName')

      <br><br>
      label Ingrediente: <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>

      <br>
      input(type='submit' value='Salveza')


    h2 Mancaruri salvate
    <table>
      <tr>
        <th>Nume</td>
        <th>Ingrediente</td>
        <th>Optiuni</td>
      </tr>
      each p in plates
        - var ing = ''
        each i in p.ingredients
          - ing += i.name + ' '

        <tr>
          <td>#{p.name}</td>
          <td>#{ing}</td>
          <td>
            a(href='/delete?id=' + p._id) Sterge
          </td>
        <tr>
    </table>


    h2 Mancarea de maine
    h3= tomorrow.name
